// *************************************
//
//   Config
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

// ----- Open Sans ----- //

@include font-face("OpenSans", "OpenSans");

@include font-face("OpenSans", "OpenSansBold", bold);

@include font-face("OpenSans", "OpenSansItalic", normal, italic);

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Palette ----- //

$steel: #ecf0f1;
$ocean: #29333f;
$sea: #2c3e50;
$blue: #3498db;
$ocean--l: #34495e;
$sky: #c1e6ff;
$grey: #c0c5ca;
$grey--l: #f9fafb;

// ----- Base ----- //

$c-background-invert: $ocean;
$c-background: white;
$c-border: #ecf0f1;
$c-highlight: $blue;
$c-subdue: lighten($sky, 40%);
$c-text-invert: white;
$c-text: $sea;


// -------------------------------------
//   Base
// -------------------------------------

// ----- Borders & Box Shadow ----- //

$b-borderRadius-none: 0;
$b-borderRadius-s: 3px;
$b-borderRadius-m: 6px;
$b-borderRadius-l: 999px;
$b-borderStyle: solid;
$b-borderWidth: 2px;
$b-border: $b-borderWidth $b-borderStyle $c-border;
$b-boxShadow: 0 2px 0 rgba($c-text, 0.25);

// ----- Typography ----- //

$b-fontFamily-heading: sans-serif;
$b-fontFamily: sans-serif;
$b-fontSize: 18px;
$b-fontSize-xs: 60%;
$b-fontSize-s: 75%;
$b-fontSize-m: 90%;
$b-fontSize-l: 115%;
$b-fontSize-xl: 150%;
$b-lineHeight: 1.625;

// ----- Sizing ----- //

$b-maxWidth: em(1024px);
$b-maxWidth-s: em(700px);
$b-space: em(20px);
$b-space-xs: 0.25 * $b-space;
$b-space-s: 0.5 * $b-space;
$b-space-l: 2 * $b-space;
$b-space-xl: 4 * $b-space;

// -------------------------------------
//   Components
// -------------------------------------

// ----- Grid ----- //

// Breakpoints

$g-s: em(480px);
$g-m: em(800px);
$g-l: em(940px);

// Settings

$g-columns: 12;
$g-gutter: 20px;

