// *************************************
//
//   Tools
//   -> Additional global utilities
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Borders ----- //

$b-border: 2px solid #dddddd !default;

// ----- Sizing ----- //

$b-space: 1.25em !default;

// -------------------------------------
//   Borders
// -------------------------------------

// ----- All ----- //

.bdr {
  border: $b-border;
}

// ----- Sides ----- //

.bdrb {
  border-bottom: $b-border;
}

.bdrl {
  border-left: $b-border;
}

.bdrr {
  border-right: $b-border;
}

.bdrt {
  border-top: $b-border;
}

// -------------------------------------
//   Opacity
// -------------------------------------

.optq {
  opacity: 0.75;
}

.oph {
  opacity: 0.5;
}

.opf {
  opacity: 1;
}

// -------------------------------------
//   Positioning
// -------------------------------------

// ----- Bottom ----- //

.pobxs {
  bottom: $b-space-xs;
}

.pobs {
  bottom: $b-space-s;
}

.pobm {
  bottom: $b-space;
}

.pobl {
  bottom: $b-space-l;
}

.pobsn {
  bottom: -$b-space-s;
}

.pobmn {
  bottom: -$b-space;
}

.pobln {
  bottom: -$b-space-l;
}

// ----- Left ----- //

.polxs {
  left: $b-space-xs;
}

.pols {
  left: $b-space-s;
}

.polm {
  left: $b-space;
}

.poll {
  left: $b-space-l;
}

.polsn {
  left: -$b-space-s;
}

.polmn {
  left: -$b-space;
}

.polln {
  left: -$b-space-l;
}

// ----- Right ----- //

.porxs {
  right: $b-space-xs;
}

.pors {
  right: $b-space-s;
}

.porm {
  right: $b-space;
}

.porl {
  right: $b-space-l;
}

.porsn {
  right: -$b-space-s;
}

.pormn {
  right: -$b-space;
}

.porln {
  right: -$b-space-l;
}

// ----- Top ----- //

.potxs {
  top: $b-space-xs;
}

.pots {
  top: $b-space-s;
}

.potm {
  top: $b-space;
}

.potl {
  top: $b-space-l;
}

.potsn {
  top: -$b-space-s;
}

.potmn {
  top: -$b-space;
}

.potln {
  top: -$b-space-l;
}

// -------------------------------------
//   Floats
// -------------------------------------

.fr {
  float: right;
}

.fl {
  float: left;
}

.fn {
  float: none;
}

// -------------------------------------
//   Clearfix
// -------------------------------------

%cf, .cf {
    overflow: hidden;
    *zoom: 1;
}