// *************************************
//
//   Alert Box
//   -> Style set for alertboxes
//
// *************************************

// -------------------------------------
//   VAriables
// -------------------------------------

$alertBox-border-radius : $b-borderRadius-m;
$alertBox-bg-color: $grey--l;
$alertBox-border: $b-border;

// -------------------------------------
//   Scaffolding
// -------------------------------------

.alertBox {
  @extend .cf;

  position: relative;
  border-radius: $alertBox-border-radius;
  border: $alertBox-border;
  background: $alertBox-bg-color;
  padding: rem(30px);
  margin-bottom: rem(100px);

  &-close {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    line-height: 1;
    font-size: 2rem;
    color: $grey;
    &:hover {
      color: $c-highlight;
    }
  }
}