// *************************************
//
//   Button
//   -> Button set styling
//
//
// (.has-card-item|card-row|card-section)
//
// .card[.card--a|b|xs|s|l|f]
//   .card-row[.card-row--n|s]
//   .card-section
//
//   %a.card-item.btn{href: '#'} Button
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

$button-background: $blue !default;
$button-row-background: #dedede !default;

// ----- Borders & Box Shadows ----- //

$button-borderRadius: 6px !default;

// ----- Sizing ----- //

$button-space: 1em !default;
$button-space-m: 0.75 * $button-space !default;
$button-space-xs: 0.25 * $button-space !default;
$button-space-s: 0.5 * $button-space !default;
$button-space-l: 2 * $button-space !default;

$button-sizes: "xs", "s", "m", "l" !default;
$button-size-vars: $button-space-xs, $button-space-s, $button-space-l !default;

// -------------------------------------
//   Base
// -------------------------------------

.button {
  border-radius: $button-borderRadius;
  padding: $button-space;
  position: relative;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.button--m {
  padding: $button-space-m;
}

.button--l {
  padding: $button-space-l;
}

// ----- Fixed sizes ----- //

.button--fixed--s {
  width: rem(155px);
}

.button--fixed--m {
  width: rem(220px);
}

.button--fixed--l {
  width: rem(220px);
}



// ----- Theme ----- //

.button--a {
  background: $ocean--l;
  &:hover {
    background: $blue;
  }
}

.button--b {
  background: $blue;
  font-weight: bold;
  &:hover {
    background:  $ocean--l;
  }
}


.button--disabled {
  cursor: default !important;
  background: $grey !important;
  &:hover {
    font-weight: normal !important;
    background: $grey !important;
  }
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- button ----- //

.button, button {
  font-size: rem(17px);
  cursor: pointer;
  border: none;
  color: white;

  &:hover {
    font-weight: bold;
  }
}

// -------------------------------------
//   Context
// -------------------------------------

.hero {
  .button {
    margin: 0 5px;
  }
}

.alertBox {
  button, .button {
    font-size: rem(15px);
  }
}
