// *************************************
//
//   Callout section
//   -> Big button on the bottom
//
// *************************************

// -------------------------------------
//   Scaffolding
// -------------------------------------

.callOutSection {
  padding-bottom: rem(100px);
  text-align: center;
}