// *************************************
//
//   Grid
//   -> Responsive Grid
//
// *************************************

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  gutters: 1
);

.g {
  @include container($g-l);
  @extend %cf;
}

@for $i from 1 to $g-columns {
  .g-b--#{$i}of12{
    @include span($i of $g-columns);
  }
}


[class^="g-b--"]:last-of-type {
  @include last;
}