// *************************************
//
//   Hero section
//   -> Basic styling
//
// *************************************

// -------------------------------------
//   Scaffolding
// -------------------------------------

.hero {
  background: $ocean;
  text-align: center;
  padding-top: 65px;

  &-img {
    display: block;
    margin: 0 auto;
  }

  &-content {
    margin-bottom: 55px;
  }
  
  &-tagline {
    color: #ffffff;
    font-weight: normal;
    margin-bottom: rem(16px);
  } 
  
  &-alt {
    color: $sky;
    font-weight: normal;
    font-size: rem(18px);
    opacity: .35;

    margin-bottom: rem(50px);
  }
}



