// *************************************
//
//   icons
//   -> Define the used icons on the site
//
// *************************************

// ----- General ----- //

i[class^='icon'] {
  display: block;
}

// ----- Promotion ----- //

.icon-medal {
  @include sprite($medal);
}

.icon-pig {
  @include sprite($pig);
}

// ----- Social ----- //



.icon-social-pinterest {
  @include sprite($social-pinterest);
}
.icon-social-facebook {
  @include sprite($social-facebook);
}
.icon-social-twitter {
  @include sprite($social-twitter);
}

// -------------------------------------
//   Context
// -------------------------------------

.promoBox [class^='icon']{
  margin: 20px auto 0;
}

.navigation {
  .is-social a {
    display: inline-block;
    margin-top: rem(40px);
    margin-left: rem(16px);
  }
}

