// *************************************
//
//   Navigation
//   -> Top and Bottom navigation
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

$menu-text-color: $ocean--l;

// -------------------------------------
//   Modifiers
// -------------------------------------

.navigation--primary {}
.navigation--secondary {}

// -------------------------------------
//   Scaffolding
// -------------------------------------

.navigation {
  background: #ecf0f1;

  &-fixToGrid {
    height: 76px;
    @include container(940px);
  }
}

.navigation-logo {
  @include sprite($logo-primary);
  float: left;
  margin-top: 18px;
  margin-right: 65px;
}

.navigation-left,
.navigation-right {
  display: block;
}

.navigation-left {
  & > li {
    margin-right: 50px;
  }
}

.navigation-right {
  & > li {
    margin-left: 50px;
  }
}

.navigation-left {
  float: left;
}

.navigation-right {
  float: right;
}

.navigation {
  ul {
    margin: 0;
    padding: 0;

    & > li {
      float: left;
      list-style: none;
      margin-bottom: 0;
      font-size: rem(15px);
      &.active a{
        color: $c-highlight !important;
      }
      a { 
        line-height: 76px;
        color: $menu-text-color;
        font-weight: bold;
        opacity: .85;
        &:hover {
          color: lighten($menu-text-color, 20%);
        }
      }
    }
  }
}

// -------------------------------------
//   Context
// -------------------------------------

.page-footer {
  .navigation {
    &-fixToGrid {
      height: 100px;
    }

    .navigation-logo {
      margin-top: 30px;
    }
    ul {
      margin: 0;
      padding: 0;

      & > li {

        font-size: rem(14px);

        a {
          color: $grey;
          line-height: 100px;
          &:hover {
            color: darken($grey, 10%);
          }
        }
      }
    }
  }
}


