// *************************************
//
//   Promotion box
//   -> 
//
// *************************************

// -------------------------------------
//   Modifiers
// -------------------------------------

.promoBox--first {  padding-top: rem(110px); }
.promoBox--last {  padding-bottom: rem(75px); }

// -------------------------------------
//   Scaffolding
// -------------------------------------

.promoBox {
  &-section {
    margin-bottom: rem(70px);
  }
}
