// *************************************
//
//   SearchBox
//   -> Custom searchbox
//
// *************************************

// -------------------------------------
//   Variabless
// -------------------------------------

$searchBox-radius: $b-borderRadius-l;

$searchBox-space: 1.25em !default;
$searchBox-space-m: 0.75 * $button-space !default;
$searchBox-space-xs: 0.3 * $button-space !default;
$searchBox-space-s: 0.45 * $button-space !default;
$searchBox-space-l: 2 * $button-space !default;

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.searchBox--xs {
  padding: $searchBox-space-xs;
}

.searchBox--s {
  padding: $searchBox-space-s;
  padding-left: $searchBox-space-s * 2;
}

.searchBox--m {
  padding: $searchBox-space-m;
}

.searchBox--l {
  padding: $searchBox-space-l;
}

// ----- Fixed with ----- //

.searchBox--fixed-m {
  width: 220px;
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

.searchBox {
  font-size: rem(15px);
  border: none;
  border-radius: $searchBox-radius;
}

// -------------------------------------
//   Context
// -------------------------------------

.has-searchIcon {
  position: relative;

  .navigation & {

    margin-top: 17px;

  }


  .searchIcon {
    content: "";
    display: block;
    position: absolute;
    @include sprite($search-icon);
    top: 10px;
    right: 12px;
  }

}