/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$logo-primary-x: 0px;
$logo-primary-y: 65px;
$logo-primary-offset-x: 0px;
$logo-primary-offset-y: -65px;
$logo-primary-width: 77px;
$logo-primary-height: 33px;
$logo-primary-total-width: 84px;
$logo-primary-total-height: 298px;
$logo-primary-image: '../img/sprites/spritesheet.png';
$logo-primary: 0px 65px 0px -65px 77px 33px 84px 298px '../img/sprites/spritesheet.png';
$medal-x: 0px;
$medal-y: 98px;
$medal-offset-x: 0px;
$medal-offset-y: -98px;
$medal-width: 84px;
$medal-height: 100px;
$medal-total-width: 84px;
$medal-total-height: 298px;
$medal-image: '../img/sprites/spritesheet.png';
$medal: 0px 98px 0px -98px 84px 100px 84px 298px '../img/sprites/spritesheet.png';
$pig-x: 0px;
$pig-y: 198px;
$pig-offset-x: 0px;
$pig-offset-y: -198px;
$pig-width: 65px;
$pig-height: 100px;
$pig-total-width: 84px;
$pig-total-height: 298px;
$pig-image: '../img/sprites/spritesheet.png';
$pig: 0px 198px 0px -198px 65px 100px 84px 298px '../img/sprites/spritesheet.png';
$search-icon-x: 0px;
$search-icon-y: 14px;
$search-icon-offset-x: 0px;
$search-icon-offset-y: -14px;
$search-icon-width: 16px;
$search-icon-height: 17px;
$search-icon-total-width: 84px;
$search-icon-total-height: 298px;
$search-icon-image: '../img/sprites/spritesheet.png';
$search-icon: 0px 14px 0px -14px 16px 17px 84px 298px '../img/sprites/spritesheet.png';
$social-facebook-x: 0px;
$social-facebook-y: 31px;
$social-facebook-offset-x: 0px;
$social-facebook-offset-y: -31px;
$social-facebook-width: 16px;
$social-facebook-height: 17px;
$social-facebook-total-width: 84px;
$social-facebook-total-height: 298px;
$social-facebook-image: '../img/sprites/spritesheet.png';
$social-facebook: 0px 31px 0px -31px 16px 17px 84px 298px '../img/sprites/spritesheet.png';
$social-pinterest-x: 0px;
$social-pinterest-y: 48px;
$social-pinterest-offset-x: 0px;
$social-pinterest-offset-y: -48px;
$social-pinterest-width: 16px;
$social-pinterest-height: 17px;
$social-pinterest-total-width: 84px;
$social-pinterest-total-height: 298px;
$social-pinterest-image: '../img/sprites/spritesheet.png';
$social-pinterest: 0px 48px 0px -48px 16px 17px 84px 298px '../img/sprites/spritesheet.png';
$social-twitter-x: 0px;
$social-twitter-y: 0px;
$social-twitter-offset-x: 0px;
$social-twitter-offset-y: 0px;
$social-twitter-width: 16px;
$social-twitter-height: 14px;
$social-twitter-total-width: 84px;
$social-twitter-total-height: 298px;
$social-twitter-image: '../img/sprites/spritesheet.png';
$social-twitter: 0px 0px 0px 0px 16px 14px 84px 298px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
